{{#if isSecondary}}
  <nav>
        <ul class="list-none flex justify-center flex-row items-center ">
            {{#foreach navigation}}
    
                <li class="text-left group">
                    <a href="{{url absolute="true"}}" 
                        class="px-2 lg:px-6 py-6 text-sm border-b-2 border-transparent group-hover:border-blue-600 md:px-3 animate-in fade-in duration-500">
                         {{label}} 
                    </a>
                </li>

            {{/foreach}}
                
            </ul>
        </nav>

{{else}}

  <nav>
        <ul class="list-none flex justify-center flex-row items-center ">

            {{#foreach navigation}}
      
                <li class="text-left group">
                    <a href="{{url absolute="true"}}" 
                        class="px-2 lg:px-6 py-6 text-md border-b-2 border-transparent group-hover:border-blue-600 md:px-3 animate-in fade-in duration-500">
                         {{label}} 
                    </a>
                </li>

            {{/foreach}}
                
            </ul>
        </nav>

{{/if}}