<div
    class="flex flex-col justify-center  my-8   md:mx-auto lg:mx-auto xl:mx-auto 2xl:mx-auto  xs:my-8 sm:my-8 md:my-8 lg:my-10 xl:my-10 2xl:my-22 p-6 w-6/6 xs:w-6/6 sm:w-6/6 md:w-5/6 lg:w-4/6 xl:w-4/6 2xl:w-4/6">
    <h2 class="text-sm text-slate-500 dark:text-slate-400 ">
        {{date published_at format="MMMM DD, YYYY"}}
    </h2>

    <a href="{{url}}">
        <h1 class="text-[18px] mt-3">
            {{title}}
        </h1>
    </a>

    <a href="{{url}}">
        <p class="text-[14px] text-slate-500 dark:text-slate-400 mt-0 xs:mt-0 sm:mt-0 md:mt-1 lg:mt-3 xl:mt-3 2xl:mt-3">
            {{excerpt}}
        </p>
    </a>
    
    <div class="flex flex-row mt-4">
        
         <span class="text-[12.75px] text-green-600 dark:text-green-700">
            {{authors}}
         </span>

        <span class="text-[12.75px] ml-5 text-slate-500 dark:text-slate-400">
            {{reading_time}}
        </span>
        
    </div>
</div>