<!DOCTYPE html>

<html lang="{{@site.locale}}" class="dark scroll-smooth overflow-x-hidden">

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    

    {{!-- link production ready css file  --}}
    <link rel="stylesheet" href="{{asset 'build/css/build.css'}}" />


   {{!-- ghost header --}}
      {{ghost_head}}

</head>

{{!-- <body class="{{body_class}} bg-white dark:bg-black dark:text-white antialiased scroll-smooth "> --}}


<body class="{{body_class}} antialiased scroll-smooth ">
  

<header class="gap-10 w-screen grid grid-cols-1 sm:grid-cols-3 px-6 py-6 lg:items-center lg:justify-between ">
        
        <a class="justify-self-center items-center" href="/">

            {{#if @site.logo}}
                <img src="{{@site.logo}}" class="w-[150px]" alt="{{@site.title}}" />
            {{else}}

            <h1 class="text-center text-[22px]"> {{@site.title}} </h1>
             {{/if}}
        </a>
        
        {{"navigation"}} 
      

        <div  class="flex-grow flex justify-center flex-row">
                
                <li class="mx-2 flex items-center">
                    {{!-- partials/Icons/search --}}
                    <button class="gh-search text-black  dark:text-gray-400" data-ghost-search>{{> Icons/search}}</button>
                </li>

                {{#if @site.facebook}}
                <li class="mx-2 flex items-center">
                    <a class="text-black  dark:text-gray-400" rel="noopener" target="_blank" href="{{@site.facebook}}">
                        {{> Icons/facebook}}
                    </a>

                </li>
                {{/if}}

                {{#if @site.twitter}}
                <li class="mx-2 flex items-center">
                    <a class="text-black  dark:text-gray-400" target="_blank" href="{{@site.twitter}}">
                        {{> Icons/twitter}}
                    </a>
                </li>
                {{/if}}

                <li class="mx-2 flex items-center">

                    <button id="theme-toggle" type="button" class="text-black  dark:text-gray-400 focus:outline-none  dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">

                        <svg id="theme-toggle-dark-icon" class=" w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                       
                       
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd">
                            </path>
                        </svg>

                    </button>
                </li>
                
            {{#unless @member}}

            <a style="background-color:{{@site.accent_color}}" 
                class="text-white ml-2 w-20 m-auto mx-5 text-center p-1 rounded-sm"
                href="#/portal/signup" data-portal="signup">Pro</a>
            {{else}}
            <a  style="background-color:{{@site.accent_color}}" 
                class="text-white ml-2 w-20 m-auto mx-5 text-center p-1 rounded-sm"
                href="#/portal/account" data-portal="account">Account</a>
            {{/unless}}
        </div>

</header>

<main class="mt-6 flex flex-col">

    {{{body}}}

</main>

{{!-- partials/footer --}}
<footer class="gap-10 w-screen grid grid-cols-1 sm:grid-cols-2 p-6 items-center">

    {{#if @custom.copyright}}
        <h2 class="text-sm text-center">{{@custom.copyright}}</h2>
    {{/if}}

    {{navigation type="secondary"}}

</footer> 



{{!-- ghost header --}}
    {{ghost_foot}}

    <script src="{{asset 'build/js/main.js'}}"></script>

</body>

</html>