<!DOCTYPE html>

<html lang="{{@site.locale}}" class="scroll-smooth overflow-x-hidden">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="{{asset 'dist/css/styles.css'}}" />
    <script src="{{asset 'dist/js/index.js'}}" defer></script>

    {{#is "post"}}
    <!-- Highlight.js CSS (Dark Theme) -->
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css" />
    {{/is}}

    <title>{{meta_title}}</title>

    {{> "header-style-script"}} {{!-- partials/header-style-script.hbs --}}


    {{ghost_head}}



</head>

<body class="{{body_class}} bg-background text-foreground relative p-0 m-0 overscroll-none antialiased scroll-smooth">


    {{> header }} {{!-- partials/header.hbs --}}

    <main class="mt-20">

        {{{ body }}} {{!-- Render the main content of the page --}}

    </main>

    {{> footer }} {{!-- partials/footer.hbs --}}

    {{!-- ghost footer --}}
    {{ghost_foot}}

</body>

</html>