<!DOCTYPE html>

<html lang="{{@site.locale}}" class="scroll-smooth overflow-x-hidden">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="{{asset 'dist/css/styles.css'}}" />
    <link rel="preload" as="script" href="{{asset 'dist/js/index.js'}}" />
    <script src="{{asset 'dist/js/index.js'}}" defer></script>

    {{#is "post"}}
    <!-- Highlight.js CSS (Dark Theme) -->
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css" />
    {{/is}}

    <title>{{meta_title}}</title>

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (
            localStorage.getItem('color-theme') === 'dark' ||
            (!('color-theme' in localStorage) &&
                window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>


    {{#is "post, page"}}
    <script src="{{asset 'dist/js/prism.js'}}"></script>
    {{/is}}

    {{#is "post, page"}}
    {{#match @custom.prismjs_code_highlight "Tomorrow Theme" }}
    <link rel="stylesheet" href="{{asset 'dist/css/tomorrow.css'}}">
    {{else match @custom.prismjs_code_highlight "Twilight Theme" }}
    <link rel="stylesheet" href="{{asset 'dist/css/twilight.css'}}">
    {{else match @custom.prismjs_code_highlight "Okaidia Theme" }}
    <link rel="stylesheet" href="{{asset 'dist/css/okaidia.css'}}">
    {{else match @custom.prismjs_code_highlight "Dark Theme" }}
    <link rel="stylesheet" href="{{asset 'dist/css/dark.css'}}">
    {{else}}
    <link rel="stylesheet" href="{{asset 'dist/css/default-prism.css'}}">
    {{/match}}
    {{/is}}

    <style>
        
            :root {
                --background: {{#if @custom.background_color_for_light_mode}} {{@custom.background_color_for_light_mode}} {{else}} oklch(1 0 0) {{/if}};
                --foreground: {{#if @custom.font_color_for_light_mode}}{{@custom.font_color_for_light_mode}}{{else}} oklch(0.141 0.005 285.823) {{/if}};
                --color-background: var(--background);
                --color-foreground: var(--foreground);
                --sidebar: {{#if @custom.sidebar_background_color_for_light_mode}}{{@custom.sidebar_background_color_for_light_mode}}{{else}} oklch(1 0 0) {{/if}};
            }
             .dark {
                --background: {{#if @custom.background_color_for_dark_mode}}{{@custom.background_color_for_dark_mode}}{{else}} oklch(0.141 0.005 285.823) {{/if}};
                --foreground: {{#if @custom.font_color_for_dark_mode}}{{@custom.font_color_for_dark_mode}}{{else}} oklch(0.985 0 0) {{/if}};
                --color-background: var(--background);
                --color-foreground: var(--foreground);
                --sidebar: {{#if @custom.sidebar_background_color_for_dark_mode}}{{@custom.sidebar_background_color_for_dark_mode}}{{else}} oklch(0.141 0.005 285.823) {{/if}};
            }
        </style>

    {{ghost_head}}



</head>

<body class="{{body_class}} bg-background text-foreground relative p-0 m-0 overscroll-none antialiased scroll-smooth">


    {{> header }} {{!-- partials/header.hbs --}}

    <main class="mt-20">

        {{{ body }}} {{!-- Render the main content of the page --}}

    </main>

    {{> footer }} {{!-- partials/footer.hbs --}}

    {{!-- ghost footer --}}
    {{ghost_foot}}

</body>

</html>