{{!< default}} 
{{!-- #TODO: COLOR ON DARK MODE AND RESOMSIVE --}}
{{#post}} 

 <article
  class="prose md:prose-lg lg:prose-xl xl:prose-2xl dark:prose-invert max-width lg:max-width-4xl mx-auto mb-5 w-full px-4 py-10 {{post_class}}">

   
        <section class="flex flex-col mx-auto text-center w-full max-w-4xl">

            <time class=" w-full font-extrabold text-xs xs:text-xs sm:text-xs md:text-sm lg:text-sm xl:text-sm 2xl:text-sm" datetime="{{date format='YYYY-MM-DD'}}"> {{date format="DD MMMM YYYY"}} </time>

            {{#match @page.show_title_and_feature_image}}
            
            <h1 class="not-prose animate-in fade-in slide-in-from-bottom-4 inline-block align-middle text-[clamp(2rem,5vw,4rem)] font-bold tracking-tight duration-700"> {{title}} </h1>

            {{/match}}

        </section>

       <div class="mx-auto w-full max-w-4xl">
            {{content}}
        </div>

    </article>

{{/post}}